body{
    margin: 0px;
    background-color: #DFEEEA;
}
hr {
    border-style: dotted none none none;
    border-width: 5px;
    border-color: white;
    width: 15%;
}
h1, h3 {
    margin-top: 0px;
    color: #2F5D62;
}


/******Class Selectors*****/
.header{
    background-color: white;
}


.middle-container{
    width: 200px;
    height: 200px;
    background-color: red;
}

.bottom-container{
    width: 200px;
    height: 200px;
    background-color: blue;
}

